<!--======================================== 

           Contact

    ========================================-->



<section id="contact" class="section-padding">

    <div class="container">

        <h2>Contact Us</h2>

    </div>

    <!-- Contact Info -->

    <div class="container contact-info">

        <div class="row">

            <div class="col-md-4">

                <div class="icon-box">

                    <i class="material-icons">place</i>

                    <h4>Address</h4>

                    <p>Gedung D1.1 FILKOM Universitas Brawijaya <br>
                        Jl. Veteran No. 8 <br>
                        Malang 65145, <br>
                        Indonesia</p>

                </div>

            </div>

            <div class="col-md-4">

                <div class="icon-box">

                    <i class="material-icons">phone</i>

                    <h4>Call Us On</h4>

                    <p>Sekretariat Himpunan Mahasiswa Informatika</p>

                </div>

            </div>

            <div class="col-md-4">

                <div class="icon-box">

                    <i class="material-icons">email</i>

                    <h4>Email us on</h4>

                    <p>hmif.filkomub@gmail.com</p>

                </div>

            </div>

        </div>

    </div>

</section>

<!--======================================== 

           Footer

    ========================================-->


<footer>

    <div class="container">

        <div class="row">

            <div class="footer-caption">

                <img src="/assets/img/hmif.png" class="img-responsive center-block" alt="logo">


                <hr>

                <h5 class="pull-left">Vortex, &copy;2016 All rights reserved</h5>

                <ul class="liste-unstyled pull-right">

                    <li><a href="#facebook"><i class="fa fa-facebook"></i></a></li>

                    <li><a href="#twitter"><i class="fa fa-twitter"></i></a></li>

                    <li><a href="#linkedin"><i class="fa fa-linkedin"></i></a></li>

                    <li><a href="#instagram"><i class="fa fa-instagram"></i></a></li>

                </ul>

            </div>

        </div>

    </div>

</footer>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->

<script src="/assets/bootstrap-3.3.7/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

<script src="/assets/js/plugins/owl-carousel/owl.carousel.min.js"></script>

<script src="/assets/js/plugins/bootsnav_files/js/bootsnav.js"></script>

<script src="/assets/js/plugins/typed.js-master/typed.js-master/dist/typed.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js"></script>

<script src="/assets/js/plugins/Magnific-Popup-master/Magnific-Popup-master/dist/jquery.magnific-popup.js"></script>

<!--<script src="assets/js/plugins/particles.js-master/particles.js-master/particles.min.js"></script> -->

<script src="assets/js/particales-script.js"></script>

<script src="/assets/js/main.js"></script>

</body>

</html>