<%- include('../includes/header.ejs') %>

<!--//** Banner**//-->

<section id="home">

    <div class="ui container">
        <div class="ui two column grid">
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="/assets/img/team-4.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Daniel Louise</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="/assets/img/team-1.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Helen Troy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<%- include('../includes/footer.ejs') %>